/* bg strips */
.bg-strip {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}
.bg-strip.jumbotron {
  background-image: url('../images/photo_jkskyline.jpg');
  background-position: center 20%;
  margin-bottom: 0px;
  min-height: 300px;
}
