<section id="prices">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <a href="https://www.eventbrite.com/e/gmic-jakarta-2015-tickets-17653225272" class="btn btn-primary btn-lg" role="button">Register Now</a>
      </div>
      <div class="col-sm-3 text-center">
        <div class="price-col">
          <div class="pass-row shadow-accent">
            <h3 class="color-primary">VIP Pass</h3>
          </div>
          <div class="price-row inactive">
            <div>Early Bird - ends June 30</div>
            <div class="price">$800</div>
          </div>
          <div class="price-row">
            <div>Advance - ends August 4</div>
            <div class="price">$900</div>
            <div></div>
          </div>
          <div class="price-row inactive">
            <div>Regular</div>
            <div class="price">$1000</div>
          </div>
          <div class="benefits-row text-left">
            <div>Access:</div>
            <div><i class="fa fa-check-circle text-success" aria-hidden="true"></i> All Sessions</div>
            <div><i class="fa fa-check-circle text-success" aria-hidden="true"></i> Technical Sessions</div>
            <div><i class="fa fa-check-circle text-success" aria-hidden="true"></i> Exhibit Floor</div>
          </div>
          <div class="benefits-row text-left">
            <div><i class="fa fa-check-circle text-success" aria-hidden="true"></i> VIP Dinner August 10</div>
            <div><i class="fa fa-check-circle text-success" aria-hidden="true"></i> Lunch August 11</div>
            <div><i class="fa fa-check-circle text-success" aria-hidden="true"></i> VIP Lounge</div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 text-center">
        <div class="price-col">
          <div class="pass-row shadow-accent">
            <h3 class="color-primary">Gold Pass</h3>
          </div>
          <div class="price-row inactive">
            <div>Early Bird - ends June 30</div>
            <div class="price">$400</div>
          </div>
          <div class="price-row">
            <div>Advance - ends August 4</div>
            <div class="price">$450</div>
            <div></div>
          </div>
          <div class="price-row inactive">
            <div>Regular</div>
            <div class="price">$500</div>
          </div>
          <div class="benefits-row text-left">
            <div>Access:</div>
            <div><i class="fa fa-check-circle text-success" aria-hidden="true"></i> All Sessions</div>
            <div><i class="fa fa-check-circle text-success" aria-hidden="true"></i> Technical Sessions</div>
            <div><i class="fa fa-check-circle text-success" aria-hidden="true"></i> Exhibit Floor</div>
          </div>
          <div class="benefits-row text-left">
            <div><i class="fa fa-times-circle text-danger" aria-hidden="true"></i> VIP Dinner August 10</div>
            <div><i class="fa fa-check-circle text-success" aria-hidden="true"></i> Lunch August 11</div>
            <div><i class="fa fa-times-circle text-danger" aria-hidden="true"></i> VIP Lounge</div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 text-center">
        <div class="price-col">
          <div class="pass-row shadow-accent">
            <h3 class="color-primary">Developer Pass</h3>
          </div>
          <div class="price-row inactive">
            <div>Early Bird - ends June 30</div>
            <div class="price">$80</div>
          </div>
          <div class="price-row">
            <div>Advance - ends August 4</div>
            <div class="price">$90</div>
            <div></div>
          </div>
          <div class="price-row inactive">
            <div>Regular</div>
            <div class="price">$100</div>
          </div><div class="benefits-row text-left">
            <div>Access:</div>
            <div><i class="fa fa-times-circle text-danger" aria-hidden="true"></i> All Sessions</div>
            <div><i class="fa fa-check-circle text-success" aria-hidden="true"></i> Technical Sessions</div>
            <div><i class="fa fa-check-circle text-success" aria-hidden="true"></i> Exhibit Floor</div>
          </div>
          <div class="benefits-row text-left">
            <div><i class="fa fa-times-circle text-danger" aria-hidden="true"></i> VIP Dinner August 10</div>
            <div><i class="fa fa-times-circle text-danger" aria-hidden="true"></i> Lunch August 11</div>
            <div><i class="fa fa-times-circle text-danger" aria-hidden="true"></i> VIP Lounge</div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 text-center">
        <div class="price-col">
          <div class="pass-row shadow-accent">
            <h3 class="color-primary">Expo Pass</h3>
          </div>
          <div class="price-row inactive">
            <div>Early Bird - ends June 30</div>
            <div class="price">$20</div>
          </div>
          <div class="price-row">
            <div>Advance - ends August 4</div>
            <div class="price">$30</div>
            <div></div>
          </div>
          <div class="price-row inactive">
            <div>Regular</div>
            <div class="price">$40</div>
          </div>
          <div class="benefits-row text-left">
            <div>Access:</div>
            <div><i class="fa fa-times-circle text-danger" aria-hidden="true"></i> All Sessions</div>
            <div><i class="fa fa-times-circle text-danger" aria-hidden="true"></i> Technical Sessions</div>
            <div><i class="fa fa-check-circle text-success" aria-hidden="true"></i> Exhibit Floor</div>
          </div>
          <div class="benefits-row text-left">
            <div><i class="fa fa-times-circle text-danger" aria-hidden="true"></i> VIP Dinner August 10</div>
            <div><i class="fa fa-times-circle text-danger" aria-hidden="true"></i> Lunch August 11</div>
            <div><i class="fa fa-times-circle text-danger" aria-hidden="true"></i> VIP Lounge</div>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <h3 class="color-primary">Media Pass</h3>
        <p>Free to qualified Print, TV, Radio and other broadcast media. Social media will also be considered. Has access to all sessions, VIP Dinner, Lunch, and VIP Lounge.</p>
      </div>
    </div>
  </div>
</section>
